#bento-UI{
  height: 70%;
  /* width: 1100px; */
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}

#bento-header{
  display: flex;
  justify-content: center;
  align-items: center;
}


#lunchbox-bento{
  display:flex;
  justify-content: center;
  align-items: center;
}


#containers{
  height: 100px;
  width: auto;
  border: 5px solid black;
  background-color: white;
}



#bento-box{
  background-image: url("../dist/images/otherImages/bentobox.png");
  background-position: center;
  background-size:cover;
  width:800px;
  height:500px;

  display:flex;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 1600px) {
  #bento-box{
    width: 500px;
    height: 300px;
  }
  #bento-box-inner{
    height: 66%;
    width: 84%;
    display: grid;
    grid-template-columns: 40fr 55fr;
  }

  .food{
    width: 100px;
    height: 100px;
  }
}




#bento-box-inner{
  height: 81%;
  width: 84%;
  display: grid;
  grid-template-columns: 45fr 55fr;
}
#lSide-1, #lSide-2{
  height: 50%;
  background-image: url("../dist/food/generic.png");
  background-position: center;
  background-size:cover;
  overflow: hidden;
  /* overflow: scroll; */
}

#rSide-1,#rSide-2,#rSide-3,#rSide-4{
  height: 100%;
  background-image: url("../dist/food/generic.png");
  background-position: center;
  background-size:cover;
  overflow: hidden;
}

#rightside-main{
  /* margin: 5px; */
  /* border: 5px solid brown; */
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


#leftSide-1, #leftSide-2,#rightSide-1,#rightSide-2,#rightSide-3,#rightSide-4{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height:20%; */
  /* overflow:scroll;
  scrollbar-color:black yellow; */
}

#foods-lists >li> .food{
  height:150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  margin:3px;
}

#leftSide-1> li > p{
  visibility: hidden;
  /* color: blue; */
}

#leftSide-2> li > p{
  visibility: hidden;
  /* color: blue; */
}

#rightSide-1> li > p{
  visibility: hidden;
  /* color: blue; */
}
#rightSide-2> li > p{
  visibility: hidden;
  /* color: blue; */
}
#rightSide-3> li > p{
  visibility: hidden;
  /* color: blue; */
}
#rightSide-4> li > p{
  visibility: hidden;
  /* color: blue; */
}
