
#bento-UI{
  background-color: #D5E2BC;
  display:grid;
  grid-template-rows: 20px 1fr;
}
#bento-header{
  display: flex;
  justify-content: center;
  align-items: center;
}


#lunchbox-bento{
  display:flex;
  justify-content: center;
  align-items: center;
}


#containers{
  height: 100px;
  width: auto;
  border: 5px solid black;
  background-color: white;
}



#bento-box{
  /* display: block; */
  /* background-image: url("../../dist/images/readMe/basicWireFrame.jpeg"); */
  background-image: url("../../dist/images/otherImages/bentobox.png");
  background-position: center;
  background-size:cover;
  width:1000px;
  height:1000px;
  /* display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr; */
  display:flex;
  justify-content: center;
  align-items: center;
}

#bento-box-inner{
  /* background-image: url("../../dist/images/otherImages/bentobox.png"); */
  border: 5px solid black;
  height: 50%;
  width: 85%;
  display: grid;
  grid-template-columns: 45fr 55fr;
}
/* 
#leftSide-main{
  display:flex;
  align-items: center;
  justify-content: center;
} */

#lSide-1, #lSide-2{
  height: 50%;
  background-image: url("../../dist/food/generic.png");
  background-position: center;
  background-size:cover;
  overflow: hidden;
}

#rSide-1,#rSide-2,#rSide-3,#rSide-4{
  height: 100%;
  background-image: url("../../dist/food/generic.png");
  background-position: center;
  background-size:cover;
  overflow: hidden;
}

#rightside-main{
  /* margin: 5px; */
  /* border: 5px solid brown; */
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


#leftSide-1, #leftSide-2,#rightSide-1,#rightSide-2,#rightSide-3,#rightSide-4{
  display: flex;
  justify-content: center;
  align-items: center;
}



ul{
  height: 100%;
}
