#foods-container{
  /* height: 1000px;
  overflow: scroll; */
  /* background-color: #B4A0E5; */
  /* background-color: #D0DDD7; */
  background-color: black;
  margin:5%;
  margin-left:7%;
  border-radius: 20px;

}
#foods-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#foods-items{
  height: 1100px;
  /* overflow: scroll; */
  /* overflow: hidden; */
  /* display:flex; */
  /* justify-content: center; */
  overflow-y: hidden;
}
#foods-lists{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.food{
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

#foods-lists >li> .food{
  /* height: 450px;
  width: 300px; */
  height:200px;
  width: 200px;
  background-position: center;
  /* background-size:450px 300px; */
  background-size: cover;
  margin:5px;
  border: 2px solid black;

}

/* #rightside-main > div > ul > .food{

  height:200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  margin:5px;
  border: 2px solid black;

}
 */

/* .foods-list >li>h1{
  background-image: url("../../dist/food/StockPics/cannedFood.png");
} */

.food{
  background-image: url("../../dist/food/StockPics/cannedFood.png");
}
#rice{
  background-image: url("../../dist/food/onigilly.png");
}

#eggs{
  /* background-image: url("../../dist/food/eggs.png") */
  background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/egg_1f95a.png");
}

#hotdog{
  background-image: url("../../dist/food/hotdog.png");
}
#chicken{
  background-image: url("../../dist/food/chicken.png");
}
#lettuce{
  background-image: url("../../dist/food/veggies.png");
}
/* #generic{
  background-image: url("../../dist/food/generic.png");
} */