button{
  background-color: #EBF6FF; 
  border: 1px #B8B8B8 solid;
  border-radius: 10px;
  color: #333;
  padding: 5px 10px
}
button:hover{
  opacity: .7;
}

input[type=text]{
  width: 150px;
  border: 2px black solid;
  border-radius: 5px;
}
#foods-container{
  /* background-color: #336199; */
  /* margin-left:45%; */
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  height:100%;
  width: 300px;
}
#searchTerms{
  margin-top: 1%;
  margin-left: 6%;
  margin-bottom: 15px;
}

#foods-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#foods-items{
  height: 80%;
  overflow: hidden;

}
#foods-lists{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.food{
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

#foods-lists >li> .food{
  height:150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  margin:3px;
}
p{
  font-weight:700;
  font-size: larger;
  color:black;
  text-align: center;
  margin-top:-40px;
}

.food{
  background-image: url("../dist/food/StockPics/cannedFood.png");
}
#rice{
  background-image: url("../dist/food/onigilly.png");
}

#eggs{
  background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/egg_1f95a.png");
}

#hotdog{
  background-image: url("../dist/food/hotdog.png");
}
#chicken{
  background-image: url("../dist/food/chicken.png");
}
#lettuce{
  background-image: url("../dist/food/veggies.png");
}
