nav{
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: #B4A0E5; */
  background-color: #364156;
  height: 60px;
  border-bottom: 1px solid #D5E2BC;
  color: whitesmoke;
}


#title{
  /* height:50px; */
}