#nutrition-container{
  display:grid;
  grid-template-columns: 1fr 3fr;
}

#nutr-left-side{
  background-color: grey;
}

#nutr-right-side{
  /* background-color: #306B34; */
  background-color: whitesmoke;
  width: 100%;
  height: 1000px;
}
