@import url("styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("styles/nav.css");
@import url("styles/foodSelection.css");
@import url("styles/bentoUI.css");
@import url("styles/nutrition.css");
@import url("styles/overallStyles.css");
@import url("styles/footer.css");
@import url("styles/leftCont.css");

#site-container{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 1000px;
}

body{

  background-image: linear-gradient(to bottom,  rgb(117,158,209,.6) 100%, rgb(117,158,209,.6) 100%), url("../dist/images/otherImages/jBackground.jpeg");
  background-size: 700px 700px;
  
  color:#171717;
}


@media only screen and (max-width: 1500px){
	/*Big smartphones [426px -> 600px]*/
  // #foods-lists{
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   width:10%;
  // }
}